<main class="texture-background">

    <div class="row justify-content-center p-5 m-5">
        <div class="col-10 text-center">
            <div class="error-message">
                <h1>Oops ! There seems to be a little problem...</h1>
                <h2><%= eMessage %></h2>
                <img src="images/phone-pb.png" alt="pb" style="height:50%">
                <h2>Go back to <a href="/">homepage</a></h2>
                <a href=""></a>
            </div>
        </div>
    </div>

</main>
