
<main>
    <div class="container-fluid my-5">
      <div class="row justify-content-lg-between justify-content-center">
        <div class="col-auto">
          <div class="text-sunflower mx-5 text-uppercase">
            <div class="row my-5">
              <div class="col-12">
                <div class="display-5">SEEK</div>
              </div>
            </div>
            <div class="row my-5">
              <div class="col-11 offset-1">
                <div class="display-3">DISCOVER</div>
              </div>
            </div>
            <div class="row my-5">
              <div class="col-10 offset-2">
                <div class="display-1">CONTRIBUTE</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-8 bg-light bg-opacity-50 p-4 my-3 mx-5 rounded text-center">
          <div class="container-fluid">
            <div class="h3 mt-n5 text-secondary">Stay in the loop</div>
            <form action="/signup" method="post" class="py-3">
                <div class="mb-3">
                    <input type="text" name="name" id="name" class="form-control" placeholder="Name" required>
                </div>
                <div class="mb-3">
                    <input type="email" name="email" id="email" class="form-control" placeholder="Email" required>
                </div>
                <div class="mb-3">
                    <input type="password" name="password" id="password" class="form-control" placeholder="Password" required onkeyup='check_pass();'>
                </div>
                <div class="mb-5">
                    <input type="password" name="password_confirmation" id="password_confirmation" class="form-control" placeholder="Confirm password" required onkeyup='check_pass();'>
                    <span id='message'></span>
                </div>
                <button type="submit" id="submit" class="btn btn-primary mb-2 w-50 h-100">Register</button>
                <p class="mt-3"><small>Already registered ? <a href="/">Connection</a></small></p> 
            </form>
          </div>
        </div>
      </div>
      
  </div>
</main>

<script>
    function check_pass() {
      if (document.getElementById('password').value ===
              document.getElementById('password_confirmation').value) {
          document.getElementById('submit').disabled = false;
          document.getElementById('message').style.color = 'green';
          document.getElementById('message').innerHTML = 'matching';
      } else {
          document.getElementById('submit').disabled = true;
          document.getElementById('message').style.color = 'red';
          document.getElementById('message').innerHTML = 'not matching';
      }
  }
</script>