<main class="texture-background">
    <div class="row">
        <div class="col-8">
            <%- include('./partials/spot', {spot, user, badge, index:1}) %>
        </div>
        <div class="col-4 mt-5">
            <div id="us2" style="width: 90%; height: 380px;"></div>
        </div>
    </div>
</main>   