<%- include("./partials/pagination") %>

<main>

    <div class="row justify-content-center text-sunflower">
        <div class="col-6 align-items-center text-center">
            <div class="rounded bg-primary bg-opacity-25 p-3">
                <a class="text-decoration-none" href="/spotform">
                    <i class="fa fa-map-location text-white fa-3x mr-2"></i>
                    <span class="h1 text-white">Share your spot</span>  
                </a>
            </div>
        </div>
    </div>
  

    <% skiSpots.forEach((spot, index) => { %>
        <%- include('./partials/spot', {spot, badge, index}) %>
    <% }) %>

</main>

<%- include("./partials/pagination") %>



